{% load static %}
{% static 'css/style.css' as css_url %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}MySiteWithArticles{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ css_url }}">
</head>
<body>
	<header>
		{% if user.profile %}
		<a href="{% url 'articles:index' %}">Home</a>
		<a href="{% url 'log_in:edit_profile' %}">{{ user.username }}</a>
		{% else %}
		<a href="{% url 'log_in:user_login' %}">Login</a>
		{% endif %}
	</header>
	{% block content %}{% endblock %}

</body>
</html>